*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  color: aliceblue;
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1{
  

  
}

.title{
  color: #101415;
  border: 1px solid;
  display: inline-block;
  background-color: rgba(250, 251, 251, 0.5);
  padding: 5px;
  border-radius: 15px;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  
}

.img-logo{
  /* border: 1px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.my-form{
  border: 1px solid blue;
}